/* Global */

html, body {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #222;
  font-weight: 300;
}

body.fixed {
  position: fixed;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  /* sticky footer */
  flex: 1 0 auto;
}

h1,
h2,
h3 {
  font-family: 'Poiret One', cursive;
  color:  #222;
}

h3 {
  
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: #222;
}

a.underline {
  display: inline-block;
  padding-bottom: 5px;

  transform: translateZ(0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}

a.underline::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #222;
  height: 3px;
  transition-property: right;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
}

a.underline:hover::before,
a.underline:focus::before,
a.underline:active::before {
  right: 0;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
textarea {
  -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: 0;
    border-radius: 2px;
    padding: 15px;
}

.btn {
  padding: 20px 40px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
}

.btn--gradient {
  background-image: linear-gradient(45deg, #d9a7c7 30%, #fffcdc 100%);
  color: #222;
}

.btn--solid {
  background-color: #222;
  color: #fff;
}

.btn:hover {
  cursor: pointer;
}

.icon {
  display: inline-block;
  width: 24px;
  margin: 0 5px;
}

.icon svg {
  fill: #222;
}

.title-accent {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
}

.title-accent::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 100%;
  height: 60%;
  background-image: linear-gradient(45deg, #d9a7c7 30%, #fffcdc 100%);
  z-index: -1;
  transition-property: right;
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  transition-delay: .6s;
}

.title-accent.loaded::before {
  right: 0;
}

/* Layout */

.page-width {
  padding: 0 20px;
  margin: 0 auto;
}

.page-width--lg {
  max-width: 1200px;
}

.page-width--med {
  max-width: 850px;
}

.page-width--small {
  max-width: 650px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

/* Transitions */

.fadeout {
  opacity: 0;
  transition: opacity .4s cubic-bezier(0, 0, 0.58, 1), visibility .4s cubic-bezier(0, 0, 0.58, 1);
  transition-delay: 1s;
}

.fadeout.loaded {
  opacity: 1;
}

/* Animations */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: .3s;
}

.fadeIn {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0,40px,0);
  }

  to {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}

/* Header */

.logo__h1 {
  font-size: 42px;
  margin: 0;
}

.logo__h2 {
  font-size: 18px;
  letter-spacing: 5.56px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  margin: 0 0 0 30px;
  font-weight: 300;
}

.header {
  padding: 40px 0;
  text-align: center;
}

.header__row {
  justify-content: space-between;
  align-items: center;
}

/* Menu */

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left:  0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1.0);
  z-index: 3;
  overflow: hidden;

  opacity: 0;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease;
}

.menu.open {
  opacity: 1;
  visibility: visible;
}

.menu__inner {
  padding-left: 40px;
  padding-top: 100px;
  text-align: left;
}

.menu__close {
  position: absolute;
  top: 55px;
  right: 20px;
}

/* Menu Nav */

.nav {
  margin-bottom: 80px;
}

.nav__item {
  font-size: 32px;
}

/* About */

.about {
  text-align: center;
  padding: 100px 0 40px;
}

.about__title {
  font-size: 60px;
  margin: 0 0 20px 0;
}



.about__text {
  max-width: 575px;
  margin: 0 auto;
  font-size: 30px;
}

/* Work */

.work {
  padding: 100px 0 120px;
}

.work__row {
  flex-direction: column;
}

.work__row__item--left {
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.work__row__item--right {
  flex-grow:  2;
}

.work__title {
  font-size: 36px;
  margin-bottom: 40px;
  
}

.work__clients li {
  font-size: 21px;
  text-transform: uppercase;
}

.work__clients li:not(.last) {
  margin-bottom: 30px;
}

.work__image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  max-width: 700px;
  background-color: #eee;
  height: 500px;
  margin: 0 auto;
  position: relative;
  transition: all 100ms linear;

  display: none;
}

.work__image__caption {
  position: absolute;
  right:  -30px;
  writing-mode: vertical-lr;
  height: 100%;
}

/* Contact Banner */

.contact {
  padding: 60px 0;
  background-color: #222;
}

.contact__title {
  color: #fff;
  font-size:  36px;
}

.contact p {
  color: #fff;
}

.contact__row {
  flex-direction: column;
  text-align: center;
}

.contact__row--left {
  margin-bottom: 40px;
}

/* Contact page */

.contact-page {
  padding-top: 40px;
  padding-bottom: 100px;
}

.contact-page__title {
  font-size: 36px;
  text-transform: uppercase;
}

.form {
  margin-top: 40px;
}

.form__field {
  margin-bottom: 20px;
}

.form__field label {
  display: inline-block;
  height: 0;
  margin-right: -.25em;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}

.form__field input,
.form__field textarea {
  width: 100%;
  border: 1px solid #ccc;
  font-style: italic;
  font-size: 14px;
}

.form__submit {
  text-align: center;
}

.form__submit .btn {
  background-image: none;
  background-color: #222;
  color: #fff;
}

/* About Page */

.about-page {
  padding-top: 40px;
  padding-bottom: 100px;
}

.about-page__title {
  font-size: 36px;
  text-transform: uppercase;
}

/* Portfolio Page */

.portfolio-page {
  padding-top: 40px;
  padding-bottom: 100px;
}

.portfolio-page__title {
  font-size: 36px;
  text-transform: uppercase;
}

.portfolio-page__work {
  margin-top: 80px;
}

.portfolio-page__row {
  flex-direction: column;
}

.portfolio-page__item {
  margin-bottom: 40px;
}

.portfolio-page__item h3 {
  font-size: 24px;
}

.portfolio-page__item__link {
  display: block;
  transform: translate(0,0);
  transition: all .2s ease;
}

.portfolio-page__item__link:hover {
  transform: translate(4px, 4px);
}


/* Footer */

.footer {
  padding: 20px 0;
  flex-shrink: 0; 
}

.footer__row {
  justify-content: space-between;
}

/* Media Queries */

@media (min-width: 769px) {
  .menu__inner {
    padding-left: 120px;
  }

  .menu__close {
    right: 120px;
    top: 55px;
  }

  .nav__item {
    font-size: 64px;
  }

  .contact__row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .contact__row--left {
    flex-grow: 2;
    padding-right: 40px;
    margin-bottom: 0;
  }

  .contact__row--right {
    flex-grow: 1;
  }
}

@media (min-width:1025px) {
  .grid--half.form__field {
    width: calc(50% - 5px);
    float: left;
  }

  .grid--half.form__field:first-of-type {
    padding-right: 10px;
  }

  .work__row {
    flex-direction: row;
    padding-right: 40px;
  }

  .work__row__item--left {
    text-align: left;
  }

  .work__title {
    margin-bottom: auto;
  }

  .work__image {
    display: block;
  }

  .portfolio-page__row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .portfolio-page__item {
    width: calc(33.33% - 24px);
     margin-bottom: 60px;
  }

  .portfolio-page__item:not(.last) {
    margin-right: 24px;
  }
}